/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.b--black {        border-color: var(--black); }
.b--white {        border-color: var(--white); }

.b--white-90 {   border-color: var(--white-90); }
.b--white-80 {   border-color: var(--white-80); }
.b--white-70 {   border-color: var(--white-70); }
.b--white-60 {   border-color: var(--white-60); }
.b--white-50 {   border-color: var(--white-50); }
.b--white-40 {   border-color: var(--white-40); }
.b--white-30 {   border-color: var(--white-30); }
.b--white-20 {   border-color: var(--white-20); }
.b--white-10 {   border-color: var(--white-10); }
.b--white-05 {   border-color: var(--white-05); }
.b--white-025 {   border-color: var(--white-025); }
.b--white-0125 {   border-color: var(--white-0125); }

.b--black-90 {   border-color: var(--black-90); }
.b--black-80 {   border-color: var(--black-80); }
.b--black-70 {   border-color: var(--black-70); }
.b--black-60 {   border-color: var(--black-60); }
.b--black-50 {   border-color: var(--black-50); }
.b--black-40 {   border-color: var(--black-40); }
.b--black-30 {   border-color: var(--black-30); }
.b--black-20 {   border-color: var(--black-20); }
.b--black-10 {   border-color: var(--black-10); }
.b--black-05 {   border-color: var(--black-05); }
.b--black-025 {   border-color: var(--black-025); }
.b--black-0125 {   border-color: var(--black-0125); }

.b--primary { border-color: var(--primary); }
.b--primary-light-1 { border-color: var(--primary-light-1); }
.b--primary-light-2 { border-color: var(--primary-light-2); }
.b--primary-light-3 { border-color: var(--primary-light-3); }
.b--primary-light-4 { border-color: var(--primary-light-4); }
.b--primary-dark-1 { border-color: var(--primary-dark-1); }
.b--primary-dark-2 { border-color: var(--primary-dark-2); }
.b--primary-dark-3 { border-color: var(--primary-dark-3); }
.b--primary-dark-4 { border-color: var(--primary-dark-4); }

.b--secondary { border-color: var(--secondary); }
.b--secondary-light-1 { border-color: var(--secondary-light-1); }
.b--secondary-light-2 { border-color: var(--secondary-light-2); }
.b--secondary-light-3 { border-color: var(--secondary-light-3); }
.b--secondary-light-4 { border-color: var(--secondary-light-4); }
.b--secondary-dark-1 { border-color: var(--secondary-dark-1); }
.b--secondary-dark-2 { border-color: var(--secondary-dark-2); }
.b--secondary-dark-3 { border-color: var(--secondary-dark-3); }
.b--secondary-dark-4 { border-color: var(--secondary-dark-4); }

.b--tertiary { border-color: var(--tertiary); }
.b--tertiary-light-1 { border-color: var(--tertiary-light-1); }
.b--tertiary-light-2 { border-color: var(--tertiary-light-2); }
.b--tertiary-light-3 { border-color: var(--tertiary-light-3); }
.b--tertiary-light-4 { border-color: var(--tertiary-light-4); }
.b--tertiary-dark-1 { border-color: var(--tertiary-dark-1); }
.b--tertiary-dark-2 { border-color: var(--tertiary-dark-2); }
.b--tertiary-dark-3 { border-color: var(--tertiary-dark-3); }
.b--tertiary-dark-4 { border-color: var(--tertiary-dark-4); }

.b--quarternary { border-color: var(--quarternary); }
.b--quarternary-light-1 { border-color: var(--quarternary-light-1); }
.b--quarternary-light-2 { border-color: var(--quarternary-light-2); }
.b--quarternary-light-3 { border-color: var(--quarternary-light-3); }
.b--quarternary-light-4 { border-color: var(--quarternary-light-4); }
.b--quarternary-dark-1 { border-color: var(--quarternary-dark-1); }
.b--quarternary-dark-2 { border-color: var(--quarternary-dark-2); }
.b--quarternary-dark-3 { border-color: var(--quarternary-dark-3); }
.b--quarternary-dark-4 { border-color: var(--quarternary-dark-4); }

.b--quarternary { border-color: var(--quarternary); }
.b--quarternary-light-1 { border-color: var(--quarternary-light-1); }
.b--quarternary-light-2 { border-color: var(--quarternary-light-2); }
.b--quarternary-light-3 { border-color: var(--quarternary-light-3); }
.b--quarternary-light-4 { border-color: var(--quarternary-light-4); }
.b--quarternary-dark-1 { border-color: var(--quarternary-dark-1); }
.b--quarternary-dark-2 { border-color: var(--quarternary-dark-2); }
.b--quarternary-dark-3 { border-color: var(--quarternary-dark-3); }
.b--quarternary-dark-4 { border-color: var(--quarternary-dark-4); }

.b--tag1 { border-color: var(--tag1); }
.b--tag1-light-1 { border-color: var(--tag1-light-1); }
.b--tag1-light-2 { border-color: var(--tag1-light-2); }
.b--tag1-light-3 { border-color: var(--tag1-light-3); }
.b--tag1-light-4 { border-color: var(--tag1-light-4); }
.b--tag1-dark-1 { border-color: var(--tag1-dark-1); }
.b--tag1-dark-2 { border-color: var(--tag1-dark-2); }
.b--tag1-dark-3 { border-color: var(--tag1-dark-3); }
.b--tag1-dark-4 { border-color: var(--tag1-dark-4); }

.b--tag2 { border-color: var(--tag2); }
.b--tag2-light-1 { border-color: var(--tag2-light-1); }
.b--tag2-light-2 { border-color: var(--tag2-light-2); }
.b--tag2-light-3 { border-color: var(--tag2-light-3); }
.b--tag2-light-4 { border-color: var(--tag2-light-4); }
.b--tag2-dark-1 { border-color: var(--tag2-dark-1); }
.b--tag2-dark-2 { border-color: var(--tag2-dark-2); }
.b--tag2-dark-3 { border-color: var(--tag2-dark-3); }
.b--tag2-dark-4 { border-color: var(--tag2-dark-4); }

.b--tag3 { border-color: var(--tag3); }
.b--tag3-light-1 { border-color: var(--tag3-light-1); }
.b--tag3-light-2 { border-color: var(--tag3-light-2); }
.b--tag3-light-3 { border-color: var(--tag3-light-3); }
.b--tag3-light-4 { border-color: var(--tag3-light-4); }
.b--tag3-dark-1 { border-color: var(--tag3-dark-1); }
.b--tag3-dark-2 { border-color: var(--tag3-dark-2); }
.b--tag3-dark-3 { border-color: var(--tag3-dark-3); }
.b--tag3-dark-4 { border-color: var(--tag3-dark-4); }

.b--tag4 { border-color: var(--tag4); }
.b--tag4-light-1 { border-color: var(--tag4-light-1); }
.b--tag4-light-2 { border-color: var(--tag4-light-2); }
.b--tag4-light-3 { border-color: var(--tag4-light-3); }
.b--tag4-light-4 { border-color: var(--tag4-light-4); }
.b--tag4-dark-1 { border-color: var(--tag4-dark-1); }
.b--tag4-dark-2 { border-color: var(--tag4-dark-2); }
.b--tag4-dark-3 { border-color: var(--tag4-dark-3); }
.b--tag4-dark-4 { border-color: var(--tag4-dark-4); }

.b--background { border-color: var(--background); }
.b--critical { border-color: var(--critical); }
.b--critical-light { border-color: var(--critical-light); }
.b--serious { border-color: var(--serious); }
.b--caution { border-color: var(--caution); }
.b--caution-light { border-color: var(--caution-light); }
.b--normal { border-color: var(--normal); }
.b--normal-light { border-color: var(--normal-light); }
.b--standby { border-color: var(--standby); }
.b--stanby-light { border-color: var(--stanby-light); }
.b--off { border-color: var(--off); }

.b--track-new { border-color: var(--track-new); }
.b--track-updated { border-color: var(--track-updated); }
.b--track-critical { border-color: var(--track-critical); }
.b--track-valid { border-color: var(--track-valid); }
.b--track-false { border-color: var(--track-false); }

.b--transparent { border-color: var(--transparent); }
.b--inherit { border-color: inherit; }
.b--initial { border-color: initial; }
.b--unset { border-color: unset; }
