/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */

.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-70 {         color: var(--black-70); }
.black-60 {         color: var(--black-60); }
.black-50 {         color: var(--black-50); }
.black-40 {         color: var(--black-40); }
.black-30 {         color: var(--black-30); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }
.black-05 {         color: var(--black-05); }

.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-70 {         color: var(--white-70); }
.white-60 {         color: var(--white-60); }
.white-50 {         color: var(--white-50); }
.white-40 {         color: var(--white-40); }
.white-30 {         color: var(--white-30); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.black {         color: var(--black); }
.white {         color: var(--white); }

.primary { color: var(--primary); }
.primary-light-1 { color: var(--primary-light-1); }
.primary-light-2 { color: var(--primary-light-2); }
.primary-light-3 { color: var(--primary-light-3); }
.primary-light-4 { color: var(--primary-light-4); }
.primary-dark-1 { color: var(--primary-dark-1); }
.primary-dark-2 { color: var(--primary-dark-2); }
.primary-dark-3 { color: var(--primary-dark-3); }
.primary-dark-4 { color: var(--primary-dark-4); }

.secondary { color: var(--secondary); }
.secondary-light-1 { color: var(--secondary-light-1); }
.secondary-light-2 { color: var(--secondary-light-2); }
.secondary-light-3 { color: var(--secondary-light-3); }
.secondary-light-4 { color: var(--secondary-light-4); }
.secondary-dark-1 { color: var(--secondary-dark-1); }
.secondary-dark-2 { color: var(--secondary-dark-2); }
.secondary-dark-3 { color: var(--secondary-dark-3); }
.secondary-dark-4 { color: var(--secondary-dark-4); }

.tertiary { color: var(--tertiary); }
.tertiary-light-1 { color: var(--tertiary-light-1); }
.tertiary-light-2 { color: var(--tertiary-light-2); }
.tertiary-light-3 { color: var(--tertiary-light-3); }
.tertiary-light-4 { color: var(--tertiary-light-4); }
.tertiary-dark-1 { color: var(--tertiary-dark-1); }
.tertiary-dark-2 { color: var(--tertiary-dark-2); }
.tertiary-dark-3 { color: var(--tertiary-dark-3); }
.tertiary-dark-4 { color: var(--tertiary-dark-4); }

.quarternary { color: var(--quarternary); }
.quarternary-light-1 { color: var(--quarternary-light-1); }
.quarternary-light-2 { color: var(--quarternary-light-2); }
.quarternary-light-3 { color: var(--quarternary-light-3); }
.quarternary-light-4 { color: var(--quarternary-light-4); }
.quarternary-dark-1 { color: var(--quarternary-dark-1); }
.quarternary-dark-2 { color: var(--quarternary-dark-2); }
.quarternary-dark-3 { color: var(--quarternary-dark-3); }
.quarternary-dark-4 { color: var(--quarternary-dark-4); }

.quarternary { color: var(--quarternary); }
.quarternary-light-1 { color: var(--quarternary-light-1); }
.quarternary-light-2 { color: var(--quarternary-light-2); }
.quarternary-light-3 { color: var(--quarternary-light-3); }
.quarternary-light-4 { color: var(--quarternary-light-4); }
.quarternary-dark-1 { color: var(--quarternary-dark-1); }
.quarternary-dark-2 { color: var(--quarternary-dark-2); }
.quarternary-dark-3 { color: var(--quarternary-dark-3); }
.quarternary-dark-4 { color: var(--quarternary-dark-4); }

.tag1 { color: var(--tag1); }
.tag1-light-1 { color: var(--tag1-light-1); }
.tag1-light-2 { color: var(--tag1-light-2); }
.tag1-light-3 { color: var(--tag1-light-3); }
.tag1-light-4 { color: var(--tag1-light-4); }
.tag1-dark-1 { color: var(--tag1-dark-1); }
.tag1-dark-2 { color: var(--tag1-dark-2); }
.tag1-dark-3 { color: var(--tag1-dark-3); }
.tag1-dark-4 { color: var(--tag1-dark-4); }

.tag2 { color: var(--tag2); }
.tag2-light-1 { color: var(--tag2-light-1); }
.tag2-light-2 { color: var(--tag2-light-2); }
.tag2-light-3 { color: var(--tag2-light-3); }
.tag2-light-4 { color: var(--tag2-light-4); }
.tag2-dark-1 { color: var(--tag2-dark-1); }
.tag2-dark-2 { color: var(--tag2-dark-2); }
.tag2-dark-3 { color: var(--tag2-dark-3); }
.tag2-dark-4 { color: var(--tag2-dark-4); }

.tag3 { color: var(--tag3); }
.tag3-light-1 { color: var(--tag3-light-1); }
.tag3-light-2 { color: var(--tag3-light-2); }
.tag3-light-3 { color: var(--tag3-light-3); }
.tag3-light-4 { color: var(--tag3-light-4); }
.tag3-dark-1 { color: var(--tag3-dark-1); }
.tag3-dark-2 { color: var(--tag3-dark-2); }
.tag3-dark-3 { color: var(--tag3-dark-3); }
.tag3-dark-4 { color: var(--tag3-dark-4); }

.tag4 { color: var(--tag4); }
.tag4-light-1 { color: var(--tag4-light-1); }
.tag4-light-2 { color: var(--tag4-light-2); }
.tag4-light-3 { color: var(--tag4-light-3); }
.tag4-light-4 { color: var(--tag4-light-4); }
.tag4-dark-1 { color: var(--tag4-dark-1); }
.tag4-dark-2 { color: var(--tag4-dark-2); }
.tag4-dark-3 { color: var(--tag4-dark-3); }
.tag4-dark-4 { color: var(--tag4-dark-4); }

.background { color: var(--background); }
.critical { color: var(--critical); }
.critical-light { color: var(--critical-light); }
.serious { color: var(--serious); }
.caution { color: var(--caution); }
.caution-light { color: var(--caution-light); }
.normal { color: var(--normal); }
.normal-light { color: var(--normal-light); }
.standby { color: var(--standby); }
.stanby-light { color: var(--stanby-light); }
.off { color: var(--off); }

.track-new { color: var(--track-new); }
.track-updated { color: var(--track-updated); }
.track-critical { color: var(--track-critical); }
.track-valid { color: var(--track-valid); }
.track-false { color: var(--track-false); }
.color-inherit { color: inherit; }



/* Background colors */

.bg-black-90 {         background-color: var(--black-90); }
.bg-black-80 {         background-color: var(--black-80); }
.bg-black-70 {         background-color: var(--black-70); }
.bg-black-60 {         background-color: var(--black-60); }
.bg-black-50 {         background-color: var(--black-50); }
.bg-black-40 {         background-color: var(--black-40); }
.bg-black-30 {         background-color: var(--black-30); }
.bg-black-20 {         background-color: var(--black-20); }
.bg-black-10 {         background-color: var(--black-10); }
.bg-black-05 {         background-color: var(--black-05); }
.bg-white-90 {        background-color: var(--white-90); }
.bg-white-80 {        background-color: var(--white-80); }
.bg-white-70 {        background-color: var(--white-70); }
.bg-white-60 {        background-color: var(--white-60); }
.bg-white-50 {        background-color: var(--white-50); }
.bg-white-40 {        background-color: var(--white-40); }
.bg-white-30 {        background-color: var(--white-30); }
.bg-white-20 {        background-color: var(--white-20); }
.bg-white-10 {        background-color: var(--white-10); }

.bg-black {         background-color: var(--black); }
.bg-white {         background-color: var(--white); }
.bg-transparent {   background-color: var(--transparent); }

.bg-primary { background-color: var(--primary); }
.bg-primary-light-1 { background-color: var(--primary-light-1); }
.bg-primary-light-2 { background-color: var(--primary-light-2); }
.bg-primary-light-3 { background-color: var(--primary-light-3); }
.bg-primary-light-4 { background-color: var(--primary-light-4); }
.bg-primary-dark-1 { background-color: var(--primary-dark-1); }
.bg-primary-dark-2 { background-color: var(--primary-dark-2); }
.bg-primary-dark-3 { background-color: var(--primary-dark-3); }
.bg-primary-dark-4 { background-color: var(--primary-dark-4); }

.bg-secondary { background-color: var(--secondary); }
.bg-secondary-light-1 { background-color: var(--secondary-light-1); }
.bg-secondary-light-2 { background-color: var(--secondary-light-2); }
.bg-secondary-light-3 { background-color: var(--secondary-light-3); }
.bg-secondary-light-4 { background-color: var(--secondary-light-4); }
.bg-secondary-dark-1 { background-color: var(--secondary-dark-1); }
.bg-secondary-dark-2 { background-color: var(--secondary-dark-2); }
.bg-secondary-dark-3 { background-color: var(--secondary-dark-3); }
.bg-secondary-dark-4 { background-color: var(--secondary-dark-4); }

.bg-tertiary { background-color: var(--tertiary); }
.bg-tertiary-light-1 { background-color: var(--tertiary-light-1); }
.bg-tertiary-light-2 { background-color: var(--tertiary-light-2); }
.bg-tertiary-light-3 { background-color: var(--tertiary-light-3); }
.bg-tertiary-light-4 { background-color: var(--tertiary-light-4); }
.bg-tertiary-dark-1 { background-color: var(--tertiary-dark-1); }
.bg-tertiary-dark-2 { background-color: var(--tertiary-dark-2); }
.bg-tertiary-dark-3 { background-color: var(--tertiary-dark-3); }
.bg-tertiary-dark-4 { background-color: var(--tertiary-dark-4); }

.bg-quarternary { background-color: var(--quarternary); }
.bg-quarternary-light-1 { background-color: var(--quarternary-light-1); }
.bg-quarternary-light-2 { background-color: var(--quarternary-light-2); }
.bg-quarternary-light-3 { background-color: var(--quarternary-light-3); }
.bg-quarternary-light-4 { background-color: var(--quarternary-light-4); }
.bg-quarternary-dark-1 { background-color: var(--quarternary-dark-1); }
.bg-quarternary-dark-2 { background-color: var(--quarternary-dark-2); }
.bg-quarternary-dark-3 { background-color: var(--quarternary-dark-3); }
.bg-quarternary-dark-4 { background-color: var(--quarternary-dark-4); }

.bg-quarternary { background-color: var(--quarternary); }
.bg-quarternary-light-1 { background-color: var(--quarternary-light-1); }
.bg-quarternary-light-2 { background-color: var(--quarternary-light-2); }
.bg-quarternary-light-3 { background-color: var(--quarternary-light-3); }
.bg-quarternary-light-4 { background-color: var(--quarternary-light-4); }
.bg-quarternary-dark-1 { background-color: var(--quarternary-dark-1); }
.bg-quarternary-dark-2 { background-color: var(--quarternary-dark-2); }
.bg-quarternary-dark-3 { background-color: var(--quarternary-dark-3); }
.bg-quarternary-dark-4 { background-color: var(--quarternary-dark-4); }

.bg-tag1 { background-color: var(--tag1); }
.bg-tag1-light-1 { background-color: var(--tag1-light-1); }
.bg-tag1-light-2 { background-color: var(--tag1-light-2); }
.bg-tag1-light-3 { background-color: var(--tag1-light-3); }
.bg-tag1-light-4 { background-color: var(--tag1-light-4); }
.bg-tag1-dark-1 { background-color: var(--tag1-dark-1); }
.bg-tag1-dark-2 { background-color: var(--tag1-dark-2); }
.bg-tag1-dark-3 { background-color: var(--tag1-dark-3); }
.bg-tag1-dark-4 { background-color: var(--tag1-dark-4); }

.bg-tag2 { background-color: var(--tag2); }
.bg-tag2-light-1 { background-color: var(--tag2-light-1); }
.bg-tag2-light-2 { background-color: var(--tag2-light-2); }
.bg-tag2-light-3 { background-color: var(--tag2-light-3); }
.bg-tag2-light-4 { background-color: var(--tag2-light-4); }
.bg-tag2-dark-1 { background-color: var(--tag2-dark-1); }
.bg-tag2-dark-2 { background-color: var(--tag2-dark-2); }
.bg-tag2-dark-3 { background-color: var(--tag2-dark-3); }
.bg-tag2-dark-4 { background-color: var(--tag2-dark-4); }

.bg-tag3 { background-color: var(--tag3); }
.bg-tag3-light-1 { background-color: var(--tag3-light-1); }
.bg-tag3-light-2 { background-color: var(--tag3-light-2); }
.bg-tag3-light-3 { background-color: var(--tag3-light-3); }
.bg-tag3-light-4 { background-color: var(--tag3-light-4); }
.bg-tag3-dark-1 { background-color: var(--tag3-dark-1); }
.bg-tag3-dark-2 { background-color: var(--tag3-dark-2); }
.bg-tag3-dark-3 { background-color: var(--tag3-dark-3); }
.bg-tag3-dark-4 { background-color: var(--tag3-dark-4); }

.bg-tag4 { background-color: var(--tag4); }
.bg-tag4-light-1 { background-color: var(--tag4-light-1); }
.bg-tag4-light-2 { background-color: var(--tag4-light-2); }
.bg-tag4-light-3 { background-color: var(--tag4-light-3); }
.bg-tag4-light-4 { background-color: var(--tag4-light-4); }
.bg-tag4-dark-1 { background-color: var(--tag4-dark-1); }
.bg-tag4-dark-2 { background-color: var(--tag4-dark-2); }
.bg-tag4-dark-3 { background-color: var(--tag4-dark-3); }
.bg-tag4-dark-4 { background-color: var(--tag4-dark-4); }

.bg-background { background-color: var(--background); }
.bg-critical { background-color: var(--critical); }
.bg-critical-light { background-color: var(--critical-light); }
.bg-serious { background-color: var(--serious); }
.bg-caution { background-color: var(--caution); }
.bg-caution-light { background-color: var(--caution-light); }
.bg-normal { background-color: var(--normal); }
.bg-normal-light { background-color: var(--normal-light); }
.bg-standby { background-color: var(--standby); }
.bg-stanby-light { background-color: var(--stanby-light); }
.bg-off { background-color: var(--off); }

.bg-track-new { background-color: var(--track-new); }
.bg-track-updated { background-color: var(--track-updated); }
.bg-track-critical { background-color: var(--track-critical); }
.bg-track-valid { background-color: var(--track-valid); }
.bg-track-false { background-color: var(--track-false); }
.bg-inherit { background-color: inherit; }
