/*

   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.

 */

.hover-black:hover,
.hover-black:focus { color: var(--black); }
.hover-white:hover,
.hover-white:focus { color: var(--white); }

.hover-black-90:hover,
.hover-black-90:focus { color: var(--black-90); }
.hover-black-80:hover,
.hover-black-80:focus { color: var(--black-80); }
.hover-black-70:hover,
.hover-black-70:focus { color: var(--black-70); }
.hover-black-60:hover,
.hover-black-60:focus { color: var(--black-60); }
.hover-black-50:hover,
.hover-black-50:focus { color: var(--black-50); }
.hover-black-40:hover,
.hover-black-40:focus { color: var(--black-40); }
.hover-black-30:hover,
.hover-black-30:focus { color: var(--black-30); }
.hover-black-20:hover,
.hover-black-20:focus { color: var(--black-20); }
.hover-black-10:hover,
.hover-black-10:focus { color: var(--black-10); }
.hover-white-90:hover,
.hover-white-90:focus { color: var(--white-90); }
.hover-white-80:hover,
.hover-white-80:focus { color: var(--white-80); }
.hover-white-70:hover,
.hover-white-70:focus { color: var(--white-70); }
.hover-white-60:hover,
.hover-white-60:focus { color: var(--white-60); }
.hover-white-50:hover,
.hover-white-50:focus { color: var(--white-50); }
.hover-white-40:hover,
.hover-white-40:focus { color: var(--white-40); }
.hover-white-30:hover,
.hover-white-30:focus { color: var(--white-30); }
.hover-white-20:hover,
.hover-white-20:focus { color: var(--white-20); }
.hover-white-10:hover,
.hover-white-10:focus { color: var(--white-10); }
.hover-inherit:hover,
.hover-inherit:focus { color: inherit; }

.hover-bg-black:hover,
.hover-bg-black:focus { background-color: var(--black); }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: var(--white); }
.hover-bg-transparent:hover,
.hover-bg-transparent:focus { background-color: var(--transparent); }

.hover-bg-black-90:hover,
.hover-bg-black-90:focus { background-color: var(--black-90); }
.hover-bg-black-80:hover,
.hover-bg-black-80:focus { background-color: var(--black-80); }
.hover-bg-black-70:hover,
.hover-bg-black-70:focus { background-color: var(--black-70); }
.hover-bg-black-60:hover,
.hover-bg-black-60:focus { background-color: var(--black-60); }
.hover-bg-black-50:hover,
.hover-bg-black-50:focus { background-color: var(--black-50); }
.hover-bg-black-40:hover,
.hover-bg-black-40:focus { background-color: var(--black-40); }
.hover-bg-black-30:hover,
.hover-bg-black-30:focus { background-color: var(--black-30); }
.hover-bg-black-20:hover,
.hover-bg-black-20:focus { background-color: var(--black-20); }
.hover-bg-black-10:hover,
.hover-bg-black-10:focus { background-color: var(--black-10); }
.hover-bg-white-90:hover,
.hover-bg-white-90:focus { background-color: var(--white-90); }
.hover-bg-white-80:hover,
.hover-bg-white-80:focus { background-color: var(--white-80); }
.hover-bg-white-70:hover,
.hover-bg-white-70:focus { background-color: var(--white-70); }
.hover-bg-white-60:hover,
.hover-bg-white-60:focus { background-color: var(--white-60); }
.hover-bg-white-50:hover,
.hover-bg-white-50:focus { background-color: var(--white-50); }
.hover-bg-white-40:hover,
.hover-bg-white-40:focus { background-color: var(--white-40); }
.hover-bg-white-30:hover,
.hover-bg-white-30:focus { background-color: var(--white-30); }
.hover-bg-white-20:hover,
.hover-bg-white-20:focus { background-color: var(--white-20); }
.hover-bg-white-10:hover,
.hover-bg-white-10:focus { background-color: var(--white-10); }

.hover-primary:hover, .hover-primary:focus { color: var(--primary); }
.hover-primary-light-1:hover, .hover-primary-light-1:focus { color: var(--primary-light-1); }
.hover-primary-light-2:hover, .hover-primary-light-2:focus { color: var(--primary-light-); }
.hover-primary-light-3:hover, .hover-primary-light-3:focus { color: var(--primary-light-3); }
.hover-primary-light-4:hover, .hover-primary-light-4:focus { color: var(--primary-light-4); }
.hover-primary-dark-1:hover, .hover-primary-dark-1:focus { color: var(--primary-dark-1); }
.hover-primary-dark-2:hover, .hover-primary-dark-2:focus { color: var(--primary-dark-2); }
.hover-primary-dark-3:hover, .hover-primary-dark-3:focus { color: var(--primary-dark-3); }
.hover-primary-dark-4:hover, .hover-primary-dark-4:focus { color: var(--primary-dark-4); }

.hover-secondary:hover, .hover-secondary:focus { color: var(--secondary); }
.hover-secondary-light-1:hover, .hover-secondary-light-1:focus { color: var(--secondary-light-1); }
.hover-secondary-light-2:hover, .hover-secondary-light-2:focus { color: var(--secondary-light-2); }
.hover-secondary-light-3:hover, .hover-secondary-light-3:focus { color: var(--secondary-light-3); }
.hover-secondary-light-4:hover, .hover-secondary-light-4:focus { color: var(--secondary-light-4); }
.hover-secondary-dark-1:hover, .hover-secondary-dark-1:focus { color: var(--secondary-dark-1); }
.hover-secondary-dark-2:hover, .hover-secondary-dark-2:focus { color: var(--secondary-dark-2); }
.hover-secondary-dark-3:hover, .hover-secondary-dark-3:focus { color: var(--secondary-dark-3); }
.hover-secondary-dark-4:hover, .hover-secondary-dark-4:focus { color: var(--secondary-dark-4); }

.hover-tertiary:hover, .hover-tertiary:focus { color: var(--tertiary); }
.hover-tertiary-light-1:hover, .hover-tertiary-light-1:focus { color: var(--tertiary-light-1); }
.hover-tertiary-light-2:hover, .hover-tertiary-light-2:focus { color: var(--tertiary-light-2); }
.hover-tertiary-light-3:hover, .hover-tertiary-light-3:focus { color: var(--tertiary-light-3); }
.hover-tertiary-light-4:hover, .hover-tertiary-light-4:focus { color: var(--tertiary-light-4); }
.hover-tertiary-dark-1:hover, .hover-tertiary-dark-1:focus { color: var(--tertiary-dark-1); }
.hover-tertiary-dark-2:hover, .hover-tertiary-dark-2:focus { color: var(--tertiary-dark-2); }
.hover-tertiary-dark-3:hover, .hover-tertiary-dark-3:focus { color: var(--tertiary-dark-3); }
.hover-tertiary-dark-4:hover, .hover-tertiary-dark-4:focus { color: var(--tertiary-dark-4); }

.hover-quarternary:hover, .hover-quarternary:focus { color: var(--quarternary); }
.hover-quarternary-light-1:hover, .hover-quarternary-light-1:focus { color: var(--quarternary-light-1); }
.hover-quarternary-light-2:hover, .hover-quarternary-light-2:focus { color: var(--quarternary-light-2); }
.hover-quarternary-light-3:hover, .hover-quarternary-light-3:focus { color: var(--quarternary-light-3); }
.hover-quarternary-light-4:hover, .hover-quarternary-light-4:focus { color: var(--quarternary-light-4); }
.hover-quarternary-dark-1:hover, .hover-quarternary-dark-1:focus { color: var(--quarternary-dark-1); }
.hover-quarternary-dark-2:hover, .hover-quarternary-dark-2:focus { color: var(--quarternary-dark-2); }
.hover-quarternary-dark-3:hover, .hover-quarternary-dark-3:focus { color: var(--quarternary-dark-3); }
.hover-quarternary-dark-4:hover, .hover-quarternary-dark-4:focus { color: var(--quarternary-dark-4); }

.hover-quarternary:hover, .hover-quarternary:focus { color: var(--quarternary); }
.hover-quarternary-light-1:hover, .hover-quarternary-light-1:focus { color: var(--quarternary-light-1); }
.hover-quarternary-light-2:hover, .hover-quarternary-light-2:focus { color: var(--quarternary-light-2); }
.hover-quarternary-light-3:hover, .hover-quarternary-light-3:focus { color: var(--quarternary-light-3); }
.hover-quarternary-light-4:hover, .hover-quarternary-light-4:focus { color: var(--quarternary-light-4); }
.hover-quarternary-dark-1:hover, .hover-quarternary-dark-1:focus { color: var(--quarternary-dark-1); }
.hover-quarternary-dark-2:hover, .hover-quarternary-dark-2:focus { color: var(--quarternary-dark-2); }
.hover-quarternary-dark-3:hover, .hover-quarternary-dark-3:focus { color: var(--quarternary-dark-3); }
.hover-quarternary-dark-4:hover, .hover-quarternary-dark-4:focus { color: var(--quarternary-dark-4); }

.hover-tag1:hover, .hover-tag1:focus { color: var(--tag1); }
.hover-tag1-light-1:hover, .hover-tag1-light-1:focus { color: var(--tag1-light-1); }
.hover-tag1-light-2:hover, .hover-tag1-light-2:focus { color: var(--tag1-light-2); }
.hover-tag1-light-3:hover, .hover-tag1-light-3:focus { color: var(--tag1-light-3); }
.hover-tag1-light-4:hover, .hover-tag1-light-4:focus { color: var(--tag1-light-4); }
.hover-tag1-dark-1:hover, .hover-tag1-dark-1:focus { color: var(--tag1-dark-1); }
.hover-tag1-dark-2:hover, .hover-tag1-dark-2:focus { color: var(--tag1-dark-2); }
.hover-tag1-dark-3:hover, .hover-tag1-dark-3:focus { color: var(--tag1-dark-3); }
.hover-tag1-dark-4:hover, .hover-tag1-dark-4:focus { color: var(--tag1-dark-4); }

.hover-tag2:hover, .hover-tag2:focus { color: var(--tag2); }
.hover-tag2-light-1:hover, .hover-tag2-light-1:focus { color: var(--tag2-light-1); }
.hover-tag2-light-2:hover, .hover-tag2-light-2:focus { color: var(--tag2-light-2); }
.hover-tag2-light-3:hover, .hover-tag2-light-3:focus { color: var(--tag2-light-3); }
.hover-tag2-light-4:hover, .hover-tag2-light-4:focus { color: var(--tag2-light-4); }
.hover-tag2-dark-1:hover, .hover-tag2-dark-1:focus { color: var(--tag2-dark-1); }
.hover-tag2-dark-2:hover, .hover-tag2-dark-2:focus { color: var(--tag2-dark-2); }
.hover-tag2-dark-3:hover, .hover-tag2-dark-3:focus { color: var(--tag2-dark-3); }
.hover-tag2-dark-4:hover, .hover-tag2-dark-4:focus { color: var(--tag2-dark-4); }

.hover-tag3:hover, .hover-tag3:focus { color: var(--tag3); }
.hover-tag3-light-1:hover, .hover-tag3-light-1:focus { color: var(--tag3-light-1); }
.hover-tag3-light-2:hover, .hover-tag3-light-2:focus { color: var(--tag3-light-2); }
.hover-tag3-light-3:hover, .hover-tag3-light-3:focus { color: var(--tag3-light-3); }
.hover-tag3-light-4:hover, .hover-tag3-light-4:focus { color: var(--tag3-light-4); }
.hover-tag3-dark-1:hover, .hover-tag3-dark-1:focus { color: var(--tag3-dark-1); }
.hover-tag3-dark-2:hover, .hover-tag3-dark-2:focus { color: var(--tag3-dark-2); }
.hover-tag3-dark-3:hover, .hover-tag3-dark-3:focus { color: var(--tag3-dark-3); }
.hover-tag3-dark-4:hover, .hover-tag3-dark-4:focus { color: var(--tag3-dark-4); }

.hover-tag4:hover, .hover-tag4:focus { color: var(--tag4); }
.hover-tag4-light-1:hover, .hover-tag4-light-1:focus { color: var(--tag4-light-1); }
.hover-tag4-light-2:hover, .hover-tag4-light-2:focus { color: var(--tag4-light-2); }
.hover-tag4-light-3:hover, .hover-tag4-light-3:focus { color: var(--tag4-light-3); }
.hover-tag4-light-4:hover, .hover-tag4-light-4:focus { color: var(--tag4-light-4); }
.hover-tag4-dark-1:hover, .hover-tag4-dark-1:focus { color: var(--tag4-dark-1); }
.hover-tag4-dark-2:hover, .hover-tag4-dark-2:focus { color: var(--tag4-dark-2); }
.hover-tag4-dark-3:hover, .hover-tag4-dark-3:focus { color: var(--tag4-dark-3); }
.hover-tag4-dark-4:hover, .hover-tag4-dark-4:focus { color: var(--tag4-dark-4); }

.hover-background:hover, .hover-background:focus { color: var(--background); }
.hover-critical:hover, .hover-critical:focus { color: var(--critical); }
.hover-critical-light:hover, .hover-critical-light:focus { color: var(--critical-light); }
.hover-serious:hover, .hover-serious:focus { color: var(--serious); }
.hover-caution:hover, .hover-caution:focus { color: var(--caution); }
.hover-caution-light:hover, .hover-caution-light:focus { color: var(--caution-light); }
.hover-normal:hover, .hover-normal:focus { color: var(--normal); }
.hover-normal-light:hover, .hover-normal-light:focus { color: var(--normal-light); }
.hover-standby:hover, .hover-standby:focus { color: var(--standby); }
.hover-stanby-light:hover, .hover-stanby-light:focus { color: var(--stanby-light); }
.hover-off:hover, .hover-off:focus { color: var(--off); }

.hover-track-new:hover, .hover-track-new:focus { color: var(--track-new); }
.hover-track-updated:hover, .hover-track-updated:focus { color: var(--track-updated); }
.hover-track-critical:hover, .hover-track-critical:focus { color: var(--track-critical); }
.hover-track-valid:hover, .hover-track-valid:focus { color: var(--track-valid); }
.hover-track-false:hover, .hover-track-false:focus { color: var(--track-false); }

.hover-bg-primary:hover, .hover-primary:focus { background-color: var(--primary); }
.hover-bg-primary-light-1:hover, .hover-primary-light-1:focus { background-color: var(--primary-light-1); }
.hover-bg-primary-light-2:hover, .hover-primary-light-2:focus { background-color: var(--primary-light-); }
.hover-bg-primary-light-3:hover, .hover-primary-light-3:focus { background-color: var(--primary-light-3); }
.hover-bg-primary-light-4:hover, .hover-primary-light-4:focus { background-color: var(--primary-light-4); }
.hover-bg-primary-dark-1:hover, .hover-primary-dark-1:focus { background-color: var(--primary-dark-1); }
.hover-bg-primary-dark-2:hover, .hover-primary-dark-2:focus { background-color: var(--primary-dark-2); }
.hover-bg-primary-dark-3:hover, .hover-primary-dark-3:focus { background-color: var(--primary-dark-3); }
.hover-bg-primary-dark-4:hover, .hover-primary-dark-4:focus { background-color: var(--primary-dark-4); }

.hover-bg-secondary:hover, .hover-secondary:focus { background-color: var(--secondary); }
.hover-bg-secondary-light-1:hover, .hover-secondary-light-1:focus { background-color: var(--secondary-light-1); }
.hover-bg-secondary-light-2:hover, .hover-secondary-light-2:focus { background-color: var(--secondary-light-2); }
.hover-bg-secondary-light-3:hover, .hover-secondary-light-3:focus { background-color: var(--secondary-light-3); }
.hover-bg-secondary-light-4:hover, .hover-secondary-light-4:focus { background-color: var(--secondary-light-4); }
.hover-bg-secondary-dark-1:hover, .hover-secondary-dark-1:focus { background-color: var(--secondary-dark-1); }
.hover-bg-secondary-dark-2:hover, .hover-secondary-dark-2:focus { background-color: var(--secondary-dark-2); }
.hover-bg-secondary-dark-3:hover, .hover-secondary-dark-3:focus { background-color: var(--secondary-dark-3); }
.hover-bg-secondary-dark-4:hover, .hover-secondary-dark-4:focus { background-color: var(--secondary-dark-4); }

.hover-bg-tertiary:hover, .hover-tertiary:focus { background-color: var(--tertiary); }
.hover-bg-tertiary-light-1:hover, .hover-tertiary-light-1:focus { background-color: var(--tertiary-light-1); }
.hover-bg-tertiary-light-2:hover, .hover-tertiary-light-2:focus { background-color: var(--tertiary-light-2); }
.hover-bg-tertiary-light-3:hover, .hover-tertiary-light-3:focus { background-color: var(--tertiary-light-3); }
.hover-bg-tertiary-light-4:hover, .hover-tertiary-light-4:focus { background-color: var(--tertiary-light-4); }
.hover-bg-tertiary-dark-1:hover, .hover-tertiary-dark-1:focus { background-color: var(--tertiary-dark-1); }
.hover-bg-tertiary-dark-2:hover, .hover-tertiary-dark-2:focus { background-color: var(--tertiary-dark-2); }
.hover-bg-tertiary-dark-3:hover, .hover-tertiary-dark-3:focus { background-color: var(--tertiary-dark-3); }
.hover-bg-tertiary-dark-4:hover, .hover-tertiary-dark-4:focus { background-color: var(--tertiary-dark-4); }

.hover-bg-quarternary:hover, .hover-quarternary:focus { background-color: var(--quarternary); }
.hover-bg-quarternary-light-1:hover, .hover-quarternary-light-1:focus { background-color: var(--quarternary-light-1); }
.hover-bg-quarternary-light-2:hover, .hover-quarternary-light-2:focus { background-color: var(--quarternary-light-2); }
.hover-bg-quarternary-light-3:hover, .hover-quarternary-light-3:focus { background-color: var(--quarternary-light-3); }
.hover-bg-quarternary-light-4:hover, .hover-quarternary-light-4:focus { background-color: var(--quarternary-light-4); }
.hover-bg-quarternary-dark-1:hover, .hover-quarternary-dark-1:focus { background-color: var(--quarternary-dark-1); }
.hover-bg-quarternary-dark-2:hover, .hover-quarternary-dark-2:focus { background-color: var(--quarternary-dark-2); }
.hover-bg-quarternary-dark-3:hover, .hover-quarternary-dark-3:focus { background-color: var(--quarternary-dark-3); }
.hover-bg-quarternary-dark-4:hover, .hover-quarternary-dark-4:focus { background-color: var(--quarternary-dark-4); }

.hover-bg-quarternary:hover, .hover-quarternary:focus { background-color: var(--quarternary); }
.hover-bg-quarternary-light-1:hover, .hover-quarternary-light-1:focus { background-color: var(--quarternary-light-1); }
.hover-bg-quarternary-light-2:hover, .hover-quarternary-light-2:focus { background-color: var(--quarternary-light-2); }
.hover-bg-quarternary-light-3:hover, .hover-quarternary-light-3:focus { background-color: var(--quarternary-light-3); }
.hover-bg-quarternary-light-4:hover, .hover-quarternary-light-4:focus { background-color: var(--quarternary-light-4); }
.hover-bg-quarternary-dark-1:hover, .hover-quarternary-dark-1:focus { background-color: var(--quarternary-dark-1); }
.hover-bg-quarternary-dark-2:hover, .hover-quarternary-dark-2:focus { background-color: var(--quarternary-dark-2); }
.hover-bg-quarternary-dark-3:hover, .hover-quarternary-dark-3:focus { background-color: var(--quarternary-dark-3); }
.hover-bg-quarternary-dark-4:hover, .hover-quarternary-dark-4:focus { background-color: var(--quarternary-dark-4); }

.hover-bg-tag1:hover, .hover-tag1:focus { background-color: var(--tag1); }
.hover-bg-tag1-light-1:hover, .hover-tag1-light-1:focus { background-color: var(--tag1-light-1); }
.hover-bg-tag1-light-2:hover, .hover-tag1-light-2:focus { background-color: var(--tag1-light-2); }
.hover-bg-tag1-light-3:hover, .hover-tag1-light-3:focus { background-color: var(--tag1-light-3); }
.hover-bg-tag1-light-4:hover, .hover-tag1-light-4:focus { background-color: var(--tag1-light-4); }
.hover-bg-tag1-dark-1:hover, .hover-tag1-dark-1:focus { background-color: var(--tag1-dark-1); }
.hover-bg-tag1-dark-2:hover, .hover-tag1-dark-2:focus { background-color: var(--tag1-dark-2); }
.hover-bg-tag1-dark-3:hover, .hover-tag1-dark-3:focus { background-color: var(--tag1-dark-3); }
.hover-bg-tag1-dark-4:hover, .hover-tag1-dark-4:focus { background-color: var(--tag1-dark-4); }

.hover-bg-tag2:hover, .hover-tag2:focus { background-color: var(--tag2); }
.hover-bg-tag2-light-1:hover, .hover-tag2-light-1:focus { background-color: var(--tag2-light-1); }
.hover-bg-tag2-light-2:hover, .hover-tag2-light-2:focus { background-color: var(--tag2-light-2); }
.hover-bg-tag2-light-3:hover, .hover-tag2-light-3:focus { background-color: var(--tag2-light-3); }
.hover-bg-tag2-light-4:hover, .hover-tag2-light-4:focus { background-color: var(--tag2-light-4); }
.hover-bg-tag2-dark-1:hover, .hover-tag2-dark-1:focus { background-color: var(--tag2-dark-1); }
.hover-bg-tag2-dark-2:hover, .hover-tag2-dark-2:focus { background-color: var(--tag2-dark-2); }
.hover-bg-tag2-dark-3:hover, .hover-tag2-dark-3:focus { background-color: var(--tag2-dark-3); }
.hover-bg-tag2-dark-4:hover, .hover-tag2-dark-4:focus { background-color: var(--tag2-dark-4); }

.hover-bg-tag3:hover, .hover-tag3:focus { background-color: var(--tag3); }
.hover-bg-tag3-light-1:hover, .hover-tag3-light-1:focus { background-color: var(--tag3-light-1); }
.hover-bg-tag3-light-2:hover, .hover-tag3-light-2:focus { background-color: var(--tag3-light-2); }
.hover-bg-tag3-light-3:hover, .hover-tag3-light-3:focus { background-color: var(--tag3-light-3); }
.hover-bg-tag3-light-4:hover, .hover-tag3-light-4:focus { background-color: var(--tag3-light-4); }
.hover-bg-tag3-dark-1:hover, .hover-tag3-dark-1:focus { background-color: var(--tag3-dark-1); }
.hover-bg-tag3-dark-2:hover, .hover-tag3-dark-2:focus { background-color: var(--tag3-dark-2); }
.hover-bg-tag3-dark-3:hover, .hover-tag3-dark-3:focus { background-color: var(--tag3-dark-3); }
.hover-bg-tag3-dark-4:hover, .hover-tag3-dark-4:focus { background-color: var(--tag3-dark-4); }

.hover-bg-tag4:hover, .hover-tag4:focus { background-color: var(--tag4); }
.hover-bg-tag4-light-1:hover, .hover-tag4-light-1:focus { background-color: var(--tag4-light-1); }
.hover-bg-tag4-light-2:hover, .hover-tag4-light-2:focus { background-color: var(--tag4-light-2); }
.hover-bg-tag4-light-3:hover, .hover-tag4-light-3:focus { background-color: var(--tag4-light-3); }
.hover-bg-tag4-light-4:hover, .hover-tag4-light-4:focus { background-color: var(--tag4-light-4); }
.hover-bg-tag4-dark-1:hover, .hover-tag4-dark-1:focus { background-color: var(--tag4-dark-1); }
.hover-bg-tag4-dark-2:hover, .hover-tag4-dark-2:focus { background-color: var(--tag4-dark-2); }
.hover-bg-tag4-dark-3:hover, .hover-tag4-dark-3:focus { background-color: var(--tag4-dark-3); }
.hover-bg-tag4-dark-4:hover, .hover-tag4-dark-4:focus { background-color: var(--tag4-dark-4); }

.hover-bg-background:hover, .hover-background:focus { background-color: var(--background); }
.hover-bg-critical:hover, .hover-critical:focus { background-color: var(--critical); }
.hover-bg-critical-light:hover, .hover-critical-light:focus { background-color: var(--critical-light); }
.hover-bg-serious:hover, .hover-serious:focus { background-color: var(--serious); }
.hover-bg-caution:hover, .hover-caution:focus { background-color: var(--caution); }
.hover-bg-caution-light:hover, .hover-caution-light:focus { background-color: var(--caution-light); }
.hover-bg-normal:hover, .hover-normal:focus { background-color: var(--normal); }
.hover-bg-normal-light:hover, .hover-normal-light:focus { background-color: var(--normal-light); }
.hover-bg-standby:hover, .hover-standby:focus { background-color: var(--standby); }
.hover-bg-stanby-light:hover, .hover-stanby-light:focus { background-color: var(--stanby-light); }
.hover-bg-off:hover, .hover-off:focus { background-color: var(--off); }

.hover-bg-track-new:hover, .hover-track-new:focus { background-color: var(--track-new); }
.hover-bg-track-updated:hover, .hover-track-updated:focus { background-color: var(--track-updated); }
.hover-bg-track-critical:hover, .hover-track-critical:focus { background-color: var(--track-critical); }
.hover-bg-track-valid:hover, .hover-track-valid:focus { background-color: var(--track-valid); }
.hover-bg-track-false:hover, .hover-track-false:focus { background-color: var(--track-false); }

